@import "tailwindcss";

@theme {
  --color-primary: #06b6d4;
  --color-primary-light: #22d3ee;
  --color-primary-dark: #0891b2;

  --color-background: #030712;
  --color-surface: #0f172a;
  --color-card: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #0f172a 0%,
    #08111f 35%,
    #020617 100%
  );
  color: white;
}